@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;600;700&display=swap');

@mixin top-nav {
    a{
        color: #1C2321;
    }
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
    

    
}

@mixin botom-nav {
    // color: #1C2321;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.3rem;

    a{
        color: #1C2321;
    }
    
}

@mixin botom-nav-clicked {
    
    font-family: 'Montserrat';
    font-weight: 700 ;
    font-size: 1.3rem;
    text-decoration: underline;
    text-decoration-color: #0152A6;
    text-decoration-thickness: .2rem;

    a{
        color: #0152A6;
    }
    
}

@mixin btn1 {
    padding: .5em 1em;
    background-color: #0152A6;
    border-radius: 1000em;
    font-weight: 500;
    font-size: 1.3rem;
    
    a{
        color: white;
    }
    
}

body{
    margin: 1.5em 4em;

}

a{
    
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
}

.top-nav{

    
    
    ul{
        @include top-nav;
        justify-content: right;
        display: flex;
        align-items: center ;

        li{
            
            padding-right: 1.5em;
            
        }

        li:last-child{
            @include btn1;
            
        }
        
        
    }
    
}

.bottom-nav{
    @include botom-nav;
    ul{
        display: flex;

        li{
            
            padding-right: 1.5em;
            
        }

        li:last-child{
            padding: 0%;
            
        }

        li:first-child{
            @include botom-nav-clicked;
        }

    }
}