@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;600;700&display=swap');

@mixin top-nav {
    a{
        color: #1C2321;
    }
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
    

    
}

@mixin botom-nav {
    // color: #1C2321;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.3rem;

    a{
        color: #1C2321;
    }
    
}

@mixin botom-nav-clicked {
    
    font-family: 'Montserrat';
    font-weight: 700 ;
    font-size: 1.3rem;
    text-decoration: underline;
    text-decoration-color: #0152A6;
    text-decoration-thickness: .2rem;

    a{
        color: #0152A6;
    }
    
}

@mixin btn1 {
    padding: .5em 1em;
    background-color: #0152A6;
    border: 3px solid transparent;
    border-radius: 1000em;
    font-weight: 500;
    font-size: 1.3rem;
    color: white;

    a{
        color: white;
    }
    
}

@mixin btn1-hover {
    
    padding: .5em 1em;
    // background: none;
    background-color: white;
    border: 3px;
    border-style: solid;
    border-color: #0152A6;
    border-radius: 1000em;
    font-weight: 500;
    font-size: 1.3rem;
    color: #0152A6;
    
    a{
        color: #0152A6;
    }
    
}

body{
    margin: 1.5em 14em;
    font-family: 'Montserrat';
    color: #1C2321;
    // color: #7D98A1;

    
    

}

p{
    font-size: 1.3em;
    font-family: 'Inter';
    margin: 0;
    padding: 0;

}

h1{
    font-size: 5rem;
    font-weight: 700;
    color: #0152A6;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1C2321;
    margin: 0;
    padding: 0;
}


a{
    
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;

    img{
        width: 11em;
    }
}

.top-nav{

    margin-bottom: 2em;
    
    
    ul{
        @include top-nav;
        justify-content: right;
        display: flex;
        align-items: center ;

        li{
            
            padding-right: 1.5em;
            
        }

        li:last-child{

            @include btn1;           
            
        }

        li:last-child:hover{
            
            @include btn1-hover;           

        }
        
        
    }
    
}

.bottom-nav{
    @include botom-nav;
    ul{
        display: flex;

        li{
            
            padding-right: 1.5em;
            
        }

        li:last-child{
            padding: 0%;
            
        }

        li:first-child{
            @include botom-nav-clicked;
        }

    }
}

section{
    .hero-banner{

        position: absolute;
        left: 16em;
        top: 13em;
        // width: 80%;
        float: right;
        height: 75vh;
        z-index: -1;
    }

    .herotitle{
        margin-top: 1.5em;
        margin-bottom: .7em;
    }

    .heropara{
        width: 30em;
        color: #7D98A1;
        margin-bottom: 3.5em;
    }

    .herobtn{
        @include btn1;
    }

    .herobtn:hover{
        @include btn1-hover;
        
    }
}

section.history{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    img{
        width: 620px;

    }

    .historyinfo {

        margin-left: 5em;
        width: 700px;
    }

}